---
site_name: Hull Blogs
root_url: https://hullblogs.com
tagline: "Aggregated posts from University of Hull students"
description: "Hull Blogs provides aggregated content from University of Hull students and alumni irrespective of department. Read how our students and alumni are changing the world in their own words."
---
<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<title>{{ title }} • {{ site_name }}</title>
		
		<link rel="stylesheet" href="/theme.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="icon" href="{% asset './favicon.png' %}" type="image/png" sizes="1024x1024" />
		
		<meta name="theme-color" content="#ff3860" />
		
		<!-- OpenGraph -->
		<meta property="og:title" content="{{ site_name }}" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="{{ root_url }}/" />
		<meta property="og:image" content="{{ root_url }}{% asset './favicon.png' %}" />
		<meta property="og:description" content="{{ description }}" />
		
		<!-- Twitter Cards -->
		<meta property="twitter:card" content="summary" />
		<meta property="twitter:site" content="@SBRLabs" />
		<meta property="twitter:title" content="{{ site_name }}" />
		<meta property="twitter:description" content="{{ description }}" />
		<meta property="twitter:image" content="{{ root_url }}/{% asset './favicon.png' %}" />
	</head>
	<body>
		<header>
			<h1><a href="/" class="invisilink">
				{{ site_name }}
			</a></h1>
			<p>{{ tagline }}</p>
		</header>
		<nav>
			{% for navitem in collections.navigable %}
			<span {% if page.url == navitem.url %}aria-current="page"{% endif %}>
				<a href="{{ navitem.url }}" class="nav invisilink">{{ navitem.data.title }}</a>
			</span>
			{% endfor %}
			<span><a href="https://github.com/FreesideHullUni/hullblogs.com#add-your-blog" class="nav invisilink">Add Your Blog</a></span>
			{# <span style="font-size: 50%"><a href="https://github.com/FreesideHullUni/hullblogs.com#but-i-dont-have-a-blog" class="nav invisilink">(but I don't have a blog!)</a></span> #}
			<span><a href="https://github.com/FreesideHullUni/hullblogs.com/" class="nav image"><img class="large-icon invert-when-light" src="{% asset 'images/github.svg' %}" alt="GitHub" title="GitHub" /></a></span>
		</nav>
		
		<main>
			{{ content | safe }}
		</main>
		
		<footer class="opposite">
			<p>Freeside is not responsible for the content of any posts shown here, nor are any posts shown on this site hosted by Freeside. Complaints and takedown requests can be made by <a href="https://github.com/FreesideHullUni/hullblogs.com/issues/new?assignees=&labels=&template=complaint---takedown-request.md&title=">opening a GitHub issue</a> (a free GitHub account is required - <a href="https://github.com/signup">create one here</a>).</p>
				
			<br />
			
			<p>Powered by <a href="https://freeside.co.uk/"><img class="large-icon" src="{% asset 'images/freeside.svg' %}" alt="Freeside logo" aria-hidden="true" /> Freeside</a></p>
			
			<p>hullblogs.com built with ❤️ by <a href="https://starbeamrainbowlabs.com/"><img class="large-icon" src="{% asset 'https://starbeamrainbowlabs.com/images/sbrl/SBRL-Small-200.png' %}" alt="Starbeamrainbowlabs' logo" aria-hidden="true" />Starbeamrainbowlabs</a> | <a href="https://github.com/FreesideHullUni/hullblogs.com/"><img class="large-icon invert-when-light" src="{% asset 'images/github.svg' %}" alt="GitHub" title="GitHub" /> Source code</a></p>
			
			<p>Licensed under the <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache Licence 2.0</a> (<a href="https://tldrlegal.com/license/apache-license-2.0-(apache-2.0)">tldr</a>)</p>
		</footer>
	</body>
</html>
