---
site_name: Hull Blogs
root_url: https://hullblogs.com
tagline: "Aggregated posts from University of Hull students"
description: "Hull Blogs provides aggregated content from University of Hull students and alumni irrespective of department. Read how our students and alumni are changing the world in their own words."
---
<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<title>{{ title }} • {{ site_name }}</title>
		
		<link rel="stylesheet" href="/theme.css" />
		
		<link rel="icon" href="{% asset './favicon.png' %}" type="image/png" sizes="1024x1024" />
		
		<meta name="theme-color" content="#61b4f4" />
		
		<!-- OpenGraph -->
		<meta property="og:title" content="{{ site_name }}" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="{{ root_url }}/" />
		<meta property="og:image" content="{{ root_url }}{% asset './favicon.png' %}" />
		<meta property="og:description" content="{{ description }}" />
		
		<!-- Twitter Cards -->
		<meta property="twitter:card" content="summary" />
		<meta property="twitter:site" content="@SBRLabs" />
		<meta property="twitter:title" content="{{ site_name }}" />
		<meta property="twitter:description" content="{{ description }}" />
		<meta property="twitter:image" content="{{ root_url }}/{% asset './favicon.png' %}" />
	</head>
	<body>
		<header>
			<h1><a href="/" class="invisilink">
				{{ site_name }}
			</a></h1>
			<p>{{ tagline }}</p>
		</header>
		<nav>
			{% for navitem in collections.navigable %}
			<span {% if page.url == navitem.url %}aria-current="page"{% endif %}>
				<a href="{{ navitem.url }}" class="nav invisilink">{{ navitem.data.title }}</a>
			</span>
			{% endfor %}
			<span><a href="https://github.com/sbrl/Minetest-WorldEditAdditions/" class="nav image"><img class="large-icon invert-when-light" src="{% asset 'images/github.svg' %}" alt="GitHub" title="GitHub" /></a></span>
		</nav>
		
		<main>
			{{ content | safe }}
		</main>
		
		<footer class="shadow-top">
			<p>Powered by <a href="https://freeside.co.uk/"><img class="large-icon" src="{% asset 'images/freeside.svg' %}" alt="Freeside logo" aria-hidden="true" />Freeside</a></p>
			<p>hullblogs.com built with ❤️ by <a href="https://starbeamrainbowlabs.com/"><img class="large-icon" src="{% asset 'https://starbeamrainbowlabs.com/images/sbrl/SBRL-Small-200.png' %}" alt="Starbeamrainbowlabs' logo" aria-hidden="true" />Starbeamrainbowlabs</p>
			
			<p>Tech: <a href="https://www.11ty.dev/">Eleventy</a> (this website), <a href="https://useiconic.com/open">Open Iconic</a> (icons)<!--, <a href="https://www.heropatterns.com/">Hero Patterns</a> (background patterns)-->, <a href="https://github.com/shssoichiro/oxipng">Oxipng</a> (PNG image compression), <a href="https://www.npmjs.com/package/feedme"><code>feedme</code></a> (for prsing feeds)</p>
			<p>Licensed under the <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache Licence 2.0</a> (<a href="https://tldrlegal.com/license/apache-license-2.0-(apache-2.0)">tldr</a>)</p>
		</footer>
	</body>
</html>
