@media (max-width: 768px) {
	body > nav {
		font-size: 1.1em;
	}
	.post {
		grid-template-columns: auto;
		grid-template-rows: min(10em, 25vh) auto auto auto;
		grid-template-areas: "image" "title" "content" "footer";
		
		padding: 0;
	}
	
	.post > h2,
	.post > .post-extract,
	.post > .post-footer {
		padding: 0 var(--margin-vertical-content);
	}
	
	.post > h2 {
		font-size: 1.1em;
	}
	
	.post > .post-image { margin: 0; }
}
