
<section class="posts">
	
	{% for post in pagination.items %}
	<article class="post">
		<h2><a href="{{ post.link }}">{{ post.title | striphtml }}</a></h2>
		<img src="{% asset post.media_image %}" alt="">
		<div class="post-extract">
			{{ post.description | striphtml }}…
			<span><a href="{{ post.link }}">Read more</a></span>
		</div>
		<div>
			<span><a href="{{ post.parent.data.link | htmlentities }}"><img src="{{ post.author_image }}" alt="{{ post.author_name | htmlentities }} avatar" aria-hidden="true" /> {{ post.author_name | htmlentities }}</a></span>
			<span><time datetime="{{ post.pubdate_iso }}">{{ post.pubdate_display | htmlentities }}</time></span>
		</div>
	</article>
	
	{% endfor %}
	
</section>

<nav>
	<span>{% if page.url != pagination.href.first %}<a href="{{ pagination.href.first }}">First</a>{% else %}First{% endif %}</span>

	<span>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">Previous</a>{% else %}Previous{% endif %}</span>
	
	{% for pageKey in pagination.pages %}
		<a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if pagination.hrefs[ loop.index0 ] == page.url %} aria-current="page"{% endif %}>{{ loop.index }}</a>
	{% endfor %}
	
	<span>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">Next</a>{% else %}Next{% endif %}</span>
	
	<span>{% if page.url != pagination.href.last %}<a href="{{ pagination.href.last }}">Last</a>{% else %}Last{% endif %}</span>
</nav>
